<div class="container">
  <div class="linea-roja">
    <h2 class="text-center">CONTACTO</h2>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>¿En qué podemos ayudarle?</h3>
      <h4>Nos encantaría resolver cualquier inquietud que surja</h4>
      <form method="post" action="../contactar/">
	<div class="form-group">
	  <label for="nombre">NOMBRE</label>
	  <input type="text" name="nombre" id="nombre" class="form-control"/>
	</div>
	<div class="form-group">
	  <label for="correo">Correo</label>
	  <input type="email" name="correo" class="form-control" id="correo" />
	</div>
	<div class="form group">
	  <label for="mensaje">Mensaje</label>
	  <textarea name="mensaje" class="form-control" id="mensaje" rows="4"></textarea>
	</div>
	<hr>
	<input type="submit" value="Enviar"  class="btn btn-lg btn-danger center-block" />
	
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
    </div>
  </div>
</div>
