
        <!-- Page Header -->
		<div class="linea-roja">
			<h3><strong>PRODUCTOS</strong></h3>
		</div>
        <!-- Projects Row -->
        <div class="row">
            <div class="col-sm-4 hover14 portfolio-item">
                <a href="#">
					 <figure><img class="img-responsive" src="/images/C1.png" alt=""></figure>
                </a>
            </div>
			<div class="col-sm-4 hover14 portfolio-item">
                <a href="#">
					 <figure><img class="img-responsive" src="/images/C2.png" alt=""></figure>
                </a>
            </div>
			<div class="col-sm-4 hover14 portfolio-item">
                <a href="#">
					 <figure><img class="img-responsive" src="/images/C3.png" alt=""></figure>
                </a>
            </div>
        </div>
		<hr>
		 <!-- Projects Row -->
        <div class="row">
            <div class="col-sm-4 hover14 portfolio-item">
                <a href="#">
					 <figure><img class="img-responsive" src="/images/C4.png" alt=""></figure>
                </a>
            </div>
			<div class="col-sm-4 hover14 portfolio-item">
                <a href="#">
					 <figure><img class="img-responsive" src="/images/C5.png" alt=""></figure>
                </a>
            </div>
			<div class="col-sm-4 hover14 portfolio-item">
                <a href="#">
					 <figure><img class="img-responsive" src="/images/C6.png" alt=""></figure>
                </a>
            </div>
        </div>
        <%#<hr>%>
		<!-- Sedes -->
		<div class="linea-roja">
			<h3><strong>SEDES</strong></h3>
		</div>
        <!-- Sedes Row -->
        <div class="row">
            <div class="col-sm-4 hover14 portfolio-item">
                <a href="#">
					 <figure><img class="img-responsive" src="/images/MED.png" alt=""></figure>
                </a>
            </div>
			<div class="col-sm-4 hover14 portfolio-item">
                <a href="#">
					 <figure><img class="img-responsive" src="/images/BOG.png" alt=""></figure>
                </a>
            </div>
			<div class="col-sm-4 hover14 portfolio-item">
                <a href="#">
					 <figure><img class="img-responsive" src="/images/BAR.png" alt=""></figure>
                </a>
            </div>
        </div>
        <!-- Pagination -->
        <%#<div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>%>

        <!-- /.row -->


 