<div class="hidden" id="logo">Productos</div>
<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">
							<div class="3u 12u(mobile)">
								<div class="sidebar">

									<!-- Sidebar -->

										<!-- Recent Posts -->
											<section>
												<h2 class="major"><span>Brochure</span></h2>
												<ul class="divided">
													<!--<li>
														<article class="box post-summary">
															<h3><a href="#">A Subheading</a></h3>
															<ul class="meta">
																<li class="icon fa-clock-o">6 hours ago</li>
																<li class="icon fa-comments"><a href="#">34</a></li>
															</ul>
														</article>
													</li>
													<li>
														<article class="box post-summary">
															<h3><a href="#">Another Subheading</a></h3>
															<ul class="meta">
																<li class="icon fa-clock-o">9 hours ago</li>
																<li class="icon fa-comments"><a href="#">27</a></li>
															</ul>
														</article>
													</li>-->
													
												</ul>
												<!--<a href="#" class="button alt">Descargar</a>--><%= link_to 'Descargar', '/pdfs/Brochure.pdf', class: 'button',  target: '_blank'  %>
											</section>

										<%#<!-- Something -->
											<section>
												<h2 class="major"><span>Ipsum Dolore</span></h2>
												<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
												<p>
													Donec sagittis massa et leo semper scele risque metus faucibus. Morbi congue mattis mi.
													Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum sed commodo luctus blandit.
												</p>
												<a href="#" class="button alt">Learn more</a>
											</section>

										<!-- Something -->
											<section>
												<h2 class="major"><span>Magna Feugiat</span></h2>
												<p>
													Rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien.
													Donec sagittis massa et leo semper scele risque metus faucibus. Morbi congue mattis mi.
													Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum sed commodo luctus blandit.
												</p>
												<a href="#" class="button alt">Learn more</a>
											</section>%>

								</div>
							</div>
							<div class="9u 12u(mobile) important(mobile)">
								<div class="content content-right">

									<!-- Content -->

										<article class="box page-content">

											<header>
												<h2>Nuestros Productos</h2>
												<p>La mejor calidad al mejor precio</p>
												<%#<ul class="meta">
													<li class="icon fa-clock-o">5 days ago</li>
													<li class="icon fa-comments"><a href="#">1,024</a></li>
												</ul>%>
											</header>
											
											<section>
												<h3>Empaquetaduras Mecánicas</h3>
												<%#<span class="image featured"><img src="images/empaquetaduras_mecanicas.PNG" width="100" /></span>%>
												<img src="images/empaquetaduras_mecanicas.PNG" class="image" width="400"/>
												<p>
													Empaques de compresión, elaboradas en diversas fibras como: 
													amianto y polímeros sintéticos, tejidos y lubricados para el
													sellado de fluidos en equipos rotativos, dinámicos y 
													estáticos, en la industria minera, petrolera, petroquímica e
													industria general

												</p>
											</section>
											<section>
												<h3>Empacaduras</h3>
												<%#<span class="image featured"><img src="images/empaquetaduras_mecanicas.PNG" width="100" /></span>%>
												<img src="images/2empacaduras.png" class="image" />
												<p>
													Láminas prensadas en diversas fibras como: amianto y polímeros 
													sintéticos, ligados y laminados con aglutinantes de caucho
													SBR, NBR y EPDM, en diversos tamaños, para asistir las 
													necesidades de la industria en general.

												</p>
											</section>
											<section>
												<h3>Aislamiento Térmico</h3>
												<%#<span class="image featured"><img src="images/empaquetaduras_mecanicas.PNG" width="100" /></span>%>
												<img src="images/3aislamientotermico.JPG" width="400" class="image" />
												<p>
													Cordones tejidos, cintas y telas, forros tubulares, chaquetas
													de aislamiento y protección para turbinas y motores. Ofrecremos
													una amplia gama de texturas, de tejido abierto o cerrado.
													Elaborados con fibras de amianto, cerámica, vidrio, sílice,
													grafito y aramida, con resistencia a temperaturas hasta de 1.100 °C. 
												</p>
											</section>
											<section>
												<h3>Sellos Mecánicos</h3>
												<%#<span class="image featured"><img src="images/empaquetaduras_mecanicas.PNG" width="100" /></span>%>
												<img src="images/sellosmecanicos.jpg" width="400" class="image" />
												<p>
													Monoresorte y de proceso con caras rotatorias y estacionarias en
													carbón, silicio y tungsteno, en diversos tamaños para asistir
													las necesidades de la industria en general.  
												</p>
											</section>
											<section>
												<h3>Espirometálicos</h3>
												<%#<span class="image featured"><img src="images/empaquetaduras_mecanicas.PNG" width="100" /></span>%>
												<img src="images/espiromec.jpg" width="400" class="image" />
											</section>
											<section>
												<h3>Láminas de Caucho</h3>
												<%#<span class="image featured"><img src="images/empaquetaduras_mecanicas.PNG" width="100" /></span>%>
												<img src="images/6laminascaucho.jpg" width="400" class="image" />
											</section>
											<section>
												<h3>Fabricaciones especiales</h3>
												<%#<span class="image featured"><img src="images/empaquetaduras_mecanicas.PNG" width="100" /></span>%>
												<img src="images/7fabricacionesespeciales.JPG" width="400" class="image" />
												<p>
													Piezas hechas a la medida y con las especificaciones adecuadas  
												</p>
											</section>
										</article>

								</div>
							</div>
						</div>
						<div class="row 200%">
							<div class="12u">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span>Para más información</span></h2>
										<div>
											
											<div class="row">
												<div class="12u">
													<ul class="actions">
														<li><%= link_to 'Descargar Brochure', '/pdfs/Brochure.pdf', class: 'button big',  target: '_blank'  %></li>
														<li><%= link_to 'Contáctanos', contacto_path , class: 'button big',  target: '_blank'  %></li>
													</ul>
												</div>
											</div>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>
				