<div class="linea-roja">
	<div class="text-center">
		<h3><strong>EMPAQUETADURAS INDUSTRIALES</strong></h3>	
	</div>		
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>EMPAQUETADURAS MECÁNICAS</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="align-middle">
					Empaques de compresión, elaboradas en diversas fibras como: amianto, polímeros sintéticos, tejidos y lubricados para el sellado de fluidos en equipos rotativos, dinámicos y estáticos, en la industria minera, petrolera, petroquímica e industria en general. 
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/1.1 Empaquetaduras Mecánicas.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>EMPACADURAS</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					Láminas prensadas en diversas fibras como: amianto y polímeros sintéticos, ligados y laminados con aglutinantes de caucho natural, nitrilo y EPDM, en diversos tamaños, para asistir las necesidades de la industria en general.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/1.2 Empacaduras.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>AISLAMIENTO TÉRMICO</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="align-middle">
					Cordones tejidos, cintas y telas, forros tubulares, chaquetas de aislamiento y protección para turbinas y motores. Ofrecemos una amplia gama de texturas, de tejido abierto o cerrado. Elaborados con fibras de amianto, cerámica, vidrio, sílice, grafito y aramida, con resistencia a temperaturas hasta de 1.100°C. 
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/1.3 Aislamiento Térmico.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default" >
			<div class="col-xs-12">
				<div class="">
					<strong>SELLOS MECÁNICOS</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					Monoresorte y de proceso, con caras rotatorias y estacionarias en carbón, cerámica, silicio y tungsteno en diversos tamaños, para asistir las necesidades de la industria en general.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/1.4 Sellos Mecánicos.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>ESPIROMETÁLICOS</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="align-middle">
					juntas espirometálicas para el sellado de flanches en grafito, teflón y mica, insertado en las distintas aleaciones de metal como acero al carbón, acero inoxidable, hastelloy, y monel, para las distintas presiones y rangos de temperatura. 
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/1.5 Espirometálicos.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>LÁMINAS DE CAUCHO</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					Neopreno, nitrilo, viton, natural y EPDM.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/1.6 Láminas de Caucho.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>FRICCIÓN INDUSTRIAL</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="align-middle">
					Bandas tejidas para frenos industriales, para winches y malacates y láminas para elaborar piñones fusibles. 
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/1.7 Fricción Industrial.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>FABRICACIONES ESPECIALES</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					Piezas hechas a la medida y con las especificaciones adecuadas.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/1.8 Fabricaciones Especiales.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="linea-roja">
	<div class="text-center">
		<h3><strong>HIDRÁULICA Y NEUMÁTICA</strong></h3>	
	</div>		
</div>
<div class="linea-roja">
	<div class="text-center">
		<h4><strong>SELLOS HIDRÁULICOS Y NEUMÁTICOS</strong></h4>	
	</div>		
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>RASPADORES Y POLYPACKS</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="align-middle">
					 En pulgadas y milimétricos, en poliuretano y poliéster.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/2.1 Sellos Hiráulicos y Neumáticos =Polyacks y Raspadores.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>BANDAS ANTIDESGASTE</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					En poliéster, poliacetal, teflón bronce, teflón grafito y nylon para la protección de los cilindros hidráulicos.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/2.2 Sellos Hiráulicos y Neumáticos = Banda Antidesgaste.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>ORING Y CORDÓN DE ORING</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="align-middle">
					 En pulgadas y milimétricos, en nitrilo, viton, silicona y EPDM.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/2.5 Sellos Hiráulicos y Neumáticos = Orings.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>KITS DE ORING</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					En pulgadas y milimétricos, en nitrilo, viton, silicona y EPDM.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/2.6 Sellos Hiráulicos y Neumáticos = Kit De Oring.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>CILINDROS HIDRÁULICOS Y NEUMÁTICOS</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="align-middle">
					 Cilindros de simple efecto, doble efecto y actuadores y cilindros telescópicos para aplicaciones industriales y camiones.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/2. Cilindros Hidráulicos y Neumáticos.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>VÁLVULAS Y VARIADORES</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					En poliéster, poliacetal, teflón bronce, teflón grafito y nylon para la protección de los cilindros hidráulicos.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/valvulas.png" alt="VÁLVULAS Y VARIADORES" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="linea-roja">
	<div class="text-center">
		<h3><strong>PLÁSTICOS DE INGENIERÍA</strong></h3>	
	</div>		
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>PLÁSTICOS DE INGENIERÍA</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					Barras, láminas y tubos en polietileno, poliuretano, nylon y teflón, cintas y telas en teflón con o sin adhesivo. Para uso en industria química, cementera, minería e industria en general.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/3.PLÁSTICOS DE INGENIERÍA.jpg" alt="VÁLVULAS Y VARIADORES" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="linea-roja">
	<div class="text-center">
		<h3><strong>ADHESIVOS Y LUBRICANTES LOCTITE</strong></h3>	
	</div>		
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>ADHESIVOS Y LUBRICANTES LOCTITE</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					Trabas químicas para sellar tornillería, anti agarrotantes, adhesivos instantáneos, adhesivos estructurales, lubricantes y productos para la reparación de bombas tales como cerámicas y masillas.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/4. ADHESIVOS Y LUBRICANTES LOCTITE.jpg" alt="" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="linea-roja">
	<div class="text-center">
		<h3><strong>HERRAMIENTAS</strong></h3>	
	</div>		
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row panel panel-default">
			<div class="col-xs-12">
				<div class="">
					<strong>HERRAMIENTAS</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					Herramientas para la instalación y extracción de empaquetaduras, ensamble y desensamble de cilindros.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/5. HERRAMIENTAS.jpg" alt="" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>