<div class="linea-roja">
	<div class="text-center">
		<h3><strong>EMPAQUETADURAS INDUSTRIALES</strong></h3>	
	</div>		
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="">
					<strong>EMPAQUETADURAS INDUSTRIALES</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="align-middle">
					Empaques de compresión, elaboradas en diversas fibras como: amianto, polímeros sintéticos, tejidos y lubricados para el sellado de fluidos en equipos rotativos, dinámicos y estáticos, en la industria minera, petrolera, petroquímica e industria en general. 
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/1.1 Empaquetaduras Mecánicas.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="">
					<strong>EMPACADURAS</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					Láminas prensadas en diversas fibras como: amianto y polímeros sintéticos, ligados y laminados con aglutinantes de caucho natural, nitrilo y EPDM, en diversos tamaños, para asistir las necesidades de la industria en general.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/1.2 Empacaduras.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="linea-roja">
	<div class="text-center">
		<h3><strong>HIDRÁULICA Y NEUMÁTICA</strong></h3>	
	</div>		
</div>
<div class="linea-roja">
	<div class="text-center">
		<h4><strong>SELLOS HIDRÁULICOS Y NEUMÁTICOS</strong></h4>	
	</div>		
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="">
					<strong>RASPADORES Y POLYPACKS</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="align-middle">
					 En pulgadas y milimétricos, en poliuretano y poliéster.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/2.1 Sellos Hiráulicos y Neumáticos =Polyacks y Raspadores.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="">
					<strong>BANDAS ANTIDESGASTE</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					En poliéster, poliacetal, teflón bronce, teflón grafito y nylon para la protección de los cilindros hidráulicos.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/2.2 Sellos Hiráulicos y Neumáticos = Banda Antidesgaste.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="">
					<strong>RASPADORES Y POLYPACKS</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="align-middle">
					 En pulgadas y milimétricos, en poliuretano y poliéster.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/2.1 Sellos Hiráulicos y Neumáticos =Polyacks y Raspadores.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="">
					<strong>BANDAS ANTIDESGASTE</strong>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="">
					En poliéster, poliacetal, teflón bronce, teflón grafito y nylon para la protección de los cilindros hidráulicos.
				</p>
			</div>
			<div class="col-xs-6">
				<img src="../images/2.2 Sellos Hiráulicos y Neumáticos = Banda Antidesgaste.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>