<div class="hidden" id="logo">Productos</div>
<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">
							<div class="3u 12u(mobile)">
								<div class="sidebar">

									<!-- Sidebar -->

										<!-- Recent Posts -->
											<section id="brochure">
												<h2 class="major"><span>Brochure</span></h2>
												<ul class="divided">
													<!--<li>
														<article class="box post-summary">
															<h3><a href="#">A Subheading</a></h3>
															<ul class="meta">
																<li class="icon fa-clock-o">6 hours ago</li>
																<li class="icon fa-comments"><a href="#">34</a></li>
															</ul>
														</article>
													</li>
													<li>
														<article class="box post-summary">
															<h3><a href="#">Another Subheading</a></h3>
															<ul class="meta">
																<li class="icon fa-clock-o">9 hours ago</li>
																<li class="icon fa-comments"><a href="#">27</a></li>
															</ul>
														</article>
													</li>-->
													
												</ul>
												<!--<a href="#" class="button alt">Descargar</a>--><%= link_to 'Descargar', '/pdfs/Brochure.pdf', class: 'button',  target: '_blank'  %>
											</section>

										<%#<!-- Something -->
											<section>
												<h2 class="major"><span>Ipsum Dolore</span></h2>
												<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
												<p>
													Donec sagittis massa et leo semper scele risque metus faucibus. Morbi congue mattis mi.
													Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum sed commodo luctus blandit.
												</p>
												<a href="#" class="button alt">Learn more</a>
											</section>

										<!-- Something -->
											<section>
												<h2 class="major"><span>Magna Feugiat</span></h2>
												<p>
													Rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien.
													Donec sagittis massa et leo semper scele risque metus faucibus. Morbi congue mattis mi.
													Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum sed commodo luctus blandit.
												</p>
												<a href="#" class="button alt">Learn more</a>
											</section>%>

								</div>
							</div>
							<div class="9u 12u(mobile) important(mobile)">
								<div class="content content-right">

									<!-- Content -->

										<article class="box page-content">

											<header>
												<h2>Nuestros Productos</h2>
												<p>La mejor calidad al mejor precio</p>
												<%#<ul class="meta">
													<li class="icon fa-clock-o">5 days ago</li>
													<li class="icon fa-comments"><a href="#">1,024</a></li>
												</ul>%>
											</header>
											<hr>
											<h2 id="empaquetadurasmec"> Empaquetaduras Industriales</h2>
											<section>
												<h3>Empaquetaduras Mecánicas</h3>
												<img src="images/1.1 Empaquetaduras Mecánicas.jpg" class="image featured" />
												<p>
													Empaques de compresión, 
													elaboradas en diversas fibras como: amianto, polímeros sintéticos, 
													tejidos y lubricados para el sellado de fluidos en equipos rotativos, 
													dinámicos y estáticos, en la industria minera, petrolera, 
													petroquímica e industria en general.

												</p>
											</section>
											
											<section id="empacadura">
												<h3>Empacaduras</h3>
												<img src="images/1.2 Empacaduras.jpg" class="image featured" />
												<p>
													Láminas prensadas en diversas fibras como: amianto y polímeros sintéticos, ligados y 
													laminados con aglutinantes de 
													caucho natural, nitrilo y EPDM, en diversos tamaños, para asistir las necesidades 
													de la industria en general.

												</p>
											</section>
											<section id="aislamiento">
												<h3>Aislamiento Térmico</h3>
												<img src="images/1.3 Aislamiento Térmico.jpg" class="image featured" />
												<p>
													Cordones tejidos, cintas y telas, forros tubulares, chaquetas de aislamiento 
													y protección para turbinas y motores. Ofrecemos una amplia gama de texturas, 
													de tejido abierto o cerrado. Elaborados con fibras de amianto, cerámica, 
													vidrio, sílice, grafito y aramida, con resistencia a temperaturas hasta de 1.100°C. 
												</p>
											</section>
											<section id="sellos">
												<h3>Sellos Mecánicos</h3>
												<%#<span class="image featured"><img src="images/empaquetaduras_mecanicas.PNG" width="100" /></span>%>
												<img src="images/1.4 Sellos Mecánicos.jpg" class="image featured" />
												<p>
													Monoresorte y de proceso, con caras rotatorias y estacionarias en carbón, 
													cerámica, silicio y tungsteno en diversos tamaños, para asistir 
													las necesidades de la industria en general.  
												</p>
											</section>
											<section id="espirometalicos">
												<h3>Espirometálicos</h3>
												<img src="images/1.5 Espirometálicos.jpg" class="image featured" />
												<p>
													Juntas espirometálicas para el sellado de flanches en grafito, 
													teflón y mica, insertado en las distintas aleaciones de metal 
													como acero al carbón, acero inoxidable, hastelloy, y monel, 
													para las distintas presiones y rangos de temperatura.
												</p>

											</section>
											<section id="laminascaucho">
												<h3>Láminas de Caucho</h3>
												<img src="images/1.6 Láminas de Caucho.jpg" class="image featured" />
												<p>
													Neopreno, nitrilo, viton, natural y EPDM
												</p>
											</section>
											<section id="friccion">
												<h3>Fricción Industrial</h3>
												<img src="images/1.7 Fricción Industrial.jpg" class="image featured" />
												<p>
													Bandas tejidas para frenos industriales, para winches y 
													malacates y láminas para elaborar piñones fusibles
												</p>
											</section>
											<section id="especiales">
												<h3>Fabricaciones especiales</h3>
												<img src="images/1.8 Fabricaciones Especiales.jpg" class="image featured" />
												<p>
													Piezas hechas a la medida y con las especificaciones adecuadas  
												</p>
											</section>
											<hr>
											<h2 id="hidraulica"> Hidráulica y Neumática</h2>
											<h3>Sellos Hidráulicos y Neumáticos</h3>
											<section id="especiales">
												<h3>Polypaqs y Raspadores</h3>
												<img src="images/2.1 Sellos Hiráulicos y Neumáticos =Polyacks y Raspadores.jpg" class="image featured" />
												<p>
													En pulgadas y milimétricos, en poliuretano y poliéster  
												</p>
											</section>
											<section id="desgaste">
												<h3>Bandas Antidesgaste</h3>
												<img src="images/2.2 Sellos Hiráulicos y Neumáticos = Banda Antidesgaste.jpg" class="image featured" />
												<p>
													En poliéster, poliacetal, teflón bronce, teflón grafito y  
													nylon para la protección de los cilindros hidráulicos  
												</p>
											</section>
											<section id="buffer">
												<h3>Sellos Buffer</h3>
												<!--<img src="images/2.2 Sellos Hiráulicos y Neumáticos = Banda Antidesgaste.jpg" class="image featured" />-->
												<p>
													Sello fusible del sistema hidráulico, en teflón bronce más un anillo de caucho.  
												</p>
											</section>
											<section id="carrera">
												<h3>Sellos Para Finales de Carrera</h3>
												<!--<img src="images/2.2 Sellos Hiráulicos y Neumáticos = Banda Antidesgaste.jpg" class="image featured" />-->
												<p>
													Utilizados en los cilindros neumáticos para suavizar el 
													fin de carrera, tanto en el avance como en el retroceso  
												</p>
											</section>
											<section id="oring">
												<h3>Oring y Cordón de Oring</h3>
												<img src="images/2.5 Sellos Hiráulicos y Neumáticos = Orings.jpg" class="image featured" />
												<p>
													En pulgadas y milimétricos, en nitrilo, viton, silicona y EPDM. 
												</p>
											</section>
											<section id="kits">
												<h3>Kits de Oring</h3>
												<img src="images/2.6 Sellos Hiráulicos y Neumáticos = Kit De Oring.jpg" class="image featured" />
												<p>
													En pulgadas y milimétricos, en nitrilo, viton, silicona y EPDM. 
												</p>
											</section>
											<section id="cilindros">
												<h3>Cilindros Hidráulicos y Neumáticos</h3>
												<img src="images/2. Cilindros Hidráulicos y Neumáticos.jpg" class="image featured" />
												<p>
													Cilindros de simple efecto, doble efecto y actuadores y 
													cilindros telescópicos para aplicaciones industriales y camiones. 
												</p>
											</section>
											<section id="valvulas">
												<h3>Válvulas y Variadores</h3>
												<img src="images/2. Cilindros Hidráulicos y Neumáticos.jpg" class="image featured" />
												<p>
													Válvulas de alivio, direccionales y de control de 
													presión, para sistemas hidráulicos y neumáticos y 
													variadores para motores eléctricos. Bajo pedido, marca Parker.
												</p>
											</section>
											<hr>
											<section id="valvulas">
												<h3>PLÁSTICOS DE INGENIERÍAs</h3>
												<img src="images/3.PLÁSTICOS DE INGENIERÍA.jpg" class="image featured" />
												<p>
													Barras, láminas y tubos en polietileno, poliuretano, nylon y teflón, 
													cintas y telas en teflón con o sin adhesivo. 
													Para uso en industria química, cementera, minería e 
													industria en general.
												</p>
											</section>
											<hr>
											<section id="adhesivos">
												<h3>ADHESIVOS Y LUBRICANTES LOCTITE</h3>
												<img src="images/3.PLÁSTICOS DE INGENIERÍA.jpg" class="image featured" />
												<p>
													Trabas químicas para sellar tornillería, 
													anti agarrotantes, adhesivos instantáneos, 
													adhesivos estructurales, lubricantes y productos 
													para la reparación de bombas tales como cerámicas 
													y masillas.
												</p>
											</section>
											<hr>
											<section id="herramientas">
												<h3>Herramientas</h3>
												<!--<img src="images/3.PLÁSTICOS DE INGENIERÍA.jpg" class="image featured" />-->
												<p>
													Herramientas para la instalación y extracción de empaquetaduras, 
													ensamble y desensamble de cilindros.
												</p>
											</section>
											<hr>
											<section id="especiales">
												<h3>Fabricación de piezas especiales</h3>
												<img src="images/1.8 Fabricaciones Especiales.jpg" class="image featured" />
												<p>
													Piezas hechas a la medida y con las especificaciones adecuadas..
												</p>
											</section>
										</article>

								</div>
							</div>
						</div>
						<div class="row 200%">
							<div class="12u">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span>Para más información</span></h2>
										<div>
											
											<div class="row">
												<div class="12u">
													<ul class="actions">
														<li><%= link_to 'Descargar Brochure', '/pdfs/Brochure.pdf', class: 'button big',  target: '_blank'  %></li>
														<li><%= link_to 'Contáctanos', contacto_path , class: 'button big',  target: '_blank'  %></li>
													</ul>
												</div>
											</div>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>
				