<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">
							<div class="12u">
								<div class="content">

									<!-- Content -->

										<article class="box page-content">

											<header>
												<h2>Nuestra Empresa</h2>
												<p>Quiénes Somos</p>
												<!--<ul class="meta">
													<li class="icon fa-clock-o">5 days ago</li>
													<li class="icon fa-comments"><a href="#">1,024</a></li>
												</ul>-->
											</header>

											<section>
												<span class="image featured"><img src="images/pic05.jpg" alt="" /></span>
												<p>
													<b><span style="color: #B82821">INTERNACIONAL DE EMPAQUES S.A.S.</span></b>  es una empresa dedicada a la 
													comercialización y fabricación de productos para sellado de fluidos.
													
												</p>
												<p>
													Desde 1986, ofrecemos soluciones al mercado industrial colombiano. Contamos con un amplio portafolio de 
													productos y un talento humano en capacidad de brindarle la asesoría apropiada a su necesidad. 
												</p>
												<p>
													Operamos a nivel nacional, con sedes en Medellín, Bogotá y Barranquilla y a través de nuestros 
													asesores en Cartagena y demás ciudades.
												</p>
											</section>

											<section>
												<h3>Misión</h3>
												<p>
													Somos una Empresa dedicada a la comercialización de empaquetadura industrial, proveemos  a 
													nuestros clientes soluciones a las necesidades en el sellado de fluidos que apoyen el 
													desarrollo de sus empresas, brindando un servicio eficiente y de alta calidad.
												</p>
											</section>

											<section>
												<h3>Visión</h3>
												<p>
													Ser una Empresa reconocida en el mercado industrial por proporcionar a nuestros clientes  
													óptimas soluciones a sus necesidades en el sellado de fluidos.
												</p>
											</section>

											<section>
												<h3>Política de Calidad</h3>
													Internacional de Empaques S.A.S. está comprometida en brindar un excelente servicio y productos de 
													óptima calidad orientados a satisfacer las necesidades de nuestros clientes en el sellado de fluidos.
											</section>

											<section>
												<h3>Valores</h3>
												<p>
													<h4>Integridad</h4>
													Actuamos dentro de los más rigurosos principios éticos y legales.
												</p>
												<p>
													<h4>Actitud de Servicio</h4>
													Somos amables, oportunos y eficaces en la prestación de nuestros servicios.
												</p>


												<p>
													<h4>Alto desempeño</h4>
													Superamos continuamente nuestras metas y optimizamos el uso de recursos 
													para crear valor.
												</p>
												<p>
													<h4>Trabajo en equipo</h4>
													Valoramos y fomentamos el aporte de las personas para el logro de los objetivos comunes.
												</p>												
											</section>

										</article>

								</div>
							</div>
						</div>
						<div class="row 200%">
							<div class="12u">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span>Testimonios</span></h2>
										<div>
											<div class="row">
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
															<h3><a href="#">A Subheading</a></h3>
															<p>
																Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
																lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
															</p>
														</section>

												</div>
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
															<h3><a href="#">Another Subheading</a></h3>
															<p>
																Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
																lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
															</p>
														</section>

												</div>
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
															<h3><a href="#">And Another</a></h3>
															<p>
																Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
																lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
															</p>
														</section>

												</div>
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
															<h3><a href="#">And One More</a></h3>
															<p>
																Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
																lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
															</p>
														</section>

												</div>
											</div>
											<!--<div class="row">
												<div class="12u">
													<ul class="actions">
														<li><a href="#" class="button big">Do Something</a></li>
														<li><a href="#" class="button alt big">Think About It</a></li>
													</ul>
												</div>
											</div>-->
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>