<!-- Main -->
<div class="hidden" id="logo">Quiénes Somos</div>
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">
							<div class="12u">
								<div class="content">

									<!-- Content -->

										<article class="box page-content texto-grande">

											<header>
												<h2 class="titulos-rojos">Nuestra Empresa</h2>
												<p class="titulos-rojos">Quiénes Somos</p>
												<!--<ul class="meta">
													<li class="icon fa-clock-o">5 days ago</li>
													<li class="icon fa-comments"><a href="#">1,024</a></li>
												</ul>-->
											</header>

											<section>
												<span class="image featured"><img src="images/Quienes.jpg" alt="All together" /></span>
												<p>
													<b><span class="titulos-rojos">INTERNACIONAL DE EMPAQUES S.A.S.</span></b>  Somos una empresa dedicada a la 
													comercialización y fabricación de productos para sellado de fluidos.
													
												</p>
												<p>
													Desde 1986, ofrecemos soluciones al mercado industrial colombiano. Contamos con un amplio portafolio de 
													productos y un talento humano en capacidad de brindarle la asesoría apropiada a su necesidad. 
												</p>
												<p>
													Operamos a nivel nacional, con sedes en Medellín, Bogotá y Barranquilla y a través de nuestros 
													asesores en Cartagena y demás ciudades.
												</p>
											</section>

											<section>
												<h2 class="titulos-rojos">Misión</h2>
												<p>
													Somos una Empresa dedicada a la comercialización de empaquetadura industrial, proveemos  a 
													nuestros clientes soluciones a las necesidades en el sellado de fluidos que apoyen el 
													desarrollo de sus empresas, brindando un servicio eficiente y de alta calidad.
												</p>
											</section>

											<section>
												<h2 class="titulos-rojos">Visión</h2>
												<p>
													Ser una Empresa reconocida en el mercado industrial por proporcionar a nuestros clientes  
													óptimas soluciones a sus necesidades en el sellado de fluidos.
												</p>
											</section>

											<section>
												<h2 class="titulos-rojos">Política de Calidad</h2>
													Internacional de Empaques S.A.S. está comprometida en brindar un excelente servicio y productos de 
													óptima calidad orientados a satisfacer las necesidades de nuestros clientes en el sellado de fluidos.
											</section>

											<section>
												<h2 class="titulos-rojos">Valores</h2>
												<p>
													<h3>Integridad</h3>
													Actuamos dentro de los más rigurosos principios éticos y legales.
												</p>
												<p>
													<h3>Actitud de Servicio</h3>
													Somos amables, oportunos y eficaces en la prestación de nuestros servicios.
												</p>


												<p>
													<h3>Alto desempeño</h3>
													Superamos continuamente nuestras metas y optimizamos el uso de recursos 
													para crear valor.
												</p>
												<p>
													<h3>Trabajo en equipo</h3>
													Valoramos y fomentamos el aporte de las personas para el logro de los objetivos comunes.
												</p>												
											</section>

										</article>

								</div>
							</div>
						</div>
						<div class="row 200%">
							<div class="12u">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span class="titulos-rojos">Nuestros clientes</span></h2>
										<img src="images/HojaClientes.png" class="img-responsive center-block"/>
									</section>

							</div>
						</div>
						<div class="row 200%">
							<div class="12u">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span class="titulos-rojos">Nuestros proveedores</span></h2>
										<img src="images/proveedores.png" class="img-responsive center-block"/>
									</section>

							</div>
						</div>
					</div>
				</div>