<div class="container">
  <div class="linea-roja">
    <h2 class="text-center">NUESTRA EMPRESA</h2>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>
	<strong>INTERNACIONAL DE EMPAQUES S.A.S.</strong>
      </p>
      <p>
	Somos una empresa dedicada a la comercialización y fabricación de productos para sellado de fluidos.
	Desde 1986, ofrecemos soluciones al mercado industrial colombiano. Contamos con un amplio portafolio de productos y un talento humano en capacidad de brindarle la asesoría apropiada a su necesidad.
	Operamos a nivel nacional, con sedes en Medellín, Bogotá y Barranquilla y a través de nuestros asesores en Cartagena y demás ciudades.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row panel panel-default">
	<div class="panel-heading">
	  <h3 class="text-center">MISIÓN</h3>
	</div>
	<div class="panel-body">
	  <p>
	    Desde 1986, ofrecemos soluciones al mercado industrial colombiano. Contamos con un amplio portafolio de productos y un talento humano en capacidad de brindarle la asesoría apropiada a su necesidad.
	    Operamos a nivel nacional, con sedes en Medellín, Bogotá y Barranquilla y a través de nuestros asesores en Cartagena y demás ciudades. 
	  </p>
	</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="row panel panel-default">
	<div class="panel-heading">
	  <h3 class="text-center">VISIÓN</h3>
	</div>
	<div class="panel-body">
	  <p>
	    Somos una Empresa dedicada a la comercialización de empaquetadura industrial, proveemos a nuestros clientes soluciones a las necesidades en el sellado de fluidos que apoyen el desarrollo de sus empresas, brindando un servicio eficiente y de alta calidad.
	    <br>
	    <br>
	  </p>
	  
	</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row panel panel-default">
	<div class="panel-heading">
	  <h3 class="text-center">POLÍTICA DE CALIDAD</h3>
	</div>
	<div class="panel-body">
	  <p>
	    Internacional de Empaques S.A.S. está comprometida en brindar un excelente servicio y productos de óptima calidad orientados a satisfacer las necesidades de nuestros clientes en el sellado de fluidos. 
	  </p>
	</div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="row panel panel-default">
	<div class="panel-heading">
	  <h3 class="text-center">VALORES</h3>
	</div>
	<div class="panel-body">
	  <p>
	    <h4>Integridad</h4>
	    Actuamos dentro de los más rigurosos principios éticos y legales.


	    <h4>Actitud de Servicio</h4>
	    Somos amables, oportunos y eficaces en la prestación de nuestros servicios.


	    <h4>Alto desempeño</h4>
	    Superamos continuamente nuestras metas y optimizamos el uso de recursos para crear valor.


	    <h4>Trabajo en equipo</h4>
	    Valoramos y fomentamos el aporte de las personas para el logro de los objetivos comunes. 
	  </p>
	  
	</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="linea-roja">
	<h3 class="text-center">Nuestros Clientes</h3>
      </div>
      <img class="img-responsive center-block" src="images/HojaClientes.png">
    </div>
    <div class="col-xs-12">
      <div class="linea-roja">
	<h3 class="text-center">Nuestros Proveedores</h3>
      </div>
      <img class="img-responsive center-block" src="images/proveedores.png">
    </div>
  </div>
</div>
