.portfolio-item {
    margin-bottom: 5px;
}

footer {
    margin: 50px 0;
}
.rojo{
    background: #B82821;
}
.divider-nav{
    height: 5px;
    background: #B82821;
}
.linea-roja{
    background: #B82821;
    color: white;
}
.todo-espacio{
    width: 100%;
    height: 100%;
}
/* Shine */
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -15%;
	z-index: 2;
	display: block;
	content: '';
	width: 20%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 100%;
	}
}
@keyframes shine {
	100% {
		left: 100%;
	}
}
@media screen and (max-width: 768px){
    #mapa{
	width: 300px;
    }
}
.panel > .panel-heading {
    background-image: none;
    background-color: #B82821;
    height: 60px;
    color: white;
    padding-bottom: 0px;
}
